.routerLiner{
    color: white !important;
    margin: 0 10px !important;
    font-size: 15px !important;
}

.routerLiner:hover{
    color: white !important;
}

.navButtons{
    cursor: pointer !important;
    margin: 0 10px;
}