<div class="container">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Date Of Join</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let emp of commonService.employeeList">
                            <td>{{emp.firstName}}</td>
                            <td>{{emp.surName}}</td>
                            <td>{{emp.mobile}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.designation}}</td>
                            <td>{{emp.createDate | date:'medium'}}</td>
                            <td scope="col">
                                <img (click)="removeEMployee(emp, removeEmployee)"
                                    src="https://img.icons8.com/ios/30/000000/cancel.png">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #removeEmployee let-modal>
    <form class="text-center border border-light p-5">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirm Your Identity</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <!-- E-mail -->
            <input #passwordValue name="email" type="text" id="defaultRegisterFormEmail" class="form-control mb-4"
                placeholder="Password">
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark" (click)="modal.close(passwordValue.value)">Confirm</button>
        </div>
    </form>
</ng-template>